[alias]
  dodaj = add
  zastosuj = apply
  przepolow = bisect
  obwin = blame
  galaz = branch
  sprawdz = checkout
  klonuj = clone
  zatwierdz = commit
  konfiguruj = config
  roznica = diff
  aport = fetch
  pomusz = help
  inicjalizuj = init
  loguj = log
  lacz = merge
  rusz = mv
  ciagnij = pull
  pchaj = push
  rebazuj = rebase
  pilot = remote
  nastaw = reset
  odwroc = revert
  usun = rm
  skrytka = stash
  pozycja = status
  etykietuj = tag
